.user_container{
  background-color: rgb(223, 152, 60);
  padding: 10px;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}